.voter_bubble_container {
  max-width: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: hidden;
}

.voter_bubble {
  margin-left: -0.5rem;
  cursor: pointer;
}

.voter_bubble:first-child {
  margin-left: 0;
}