.avatar_bubble {
  position: relative;
  border-radius: 50%;
  border: 3px solid transparent;
}

@media screen and (max-width: 600px) {
  .small {
    width: 1.25rem !important;
    height: 1.25rem !important;
    font-size: 0.6rem !important;
  }
  .medium {
    width: 1.75rem !important;
    height: 1.75rem !important;
  }
  .large {
    width: 2rem !important;
    height: 2rem !important;
  }
}