.avatar_bubble {
  position: relative;
  border-radius: 50%;
  border: 3px solid transparent;
}

@media screen and (max-width: 600px) {
  .avatar_bubble {
    max-width: 2rem;
    max-height: 2rem;
  }
}