# Affects things like prisma client initializtion and other environment-specific configurations
NODE_ENV="development"

# Database access from Prisma.io (Prisma Postgres with accelerate from the Refactor Games account)
DATABASE_URL=""

# Session secret for JWT signing (generate a secure random string)
# You can generate one in the command line with: openssl rand -base64 32
SESSION_SECRET=""