.column {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  min-width: 550px;
}

.no_items {
  text-align: center;
  color: black;
  margin-top: 1.5rem;
  font-style: italic;
}