.asset_page {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
}

.asset_content {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  max-width: 50%;
}

.uploader_info {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.submission_info {
  color: rgb(73, 73, 73);
}

.image_grid_container {
  overflow: hidden;
  position: relative;
}

.vote_info_container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.vote_info_content {
  display: flex;
  align-items: center;
}

.asset_comments {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem 0 5rem 0;
}