.column {
  display: grid;
  gap: 0.5rem;
  /* place-items: center; */
  grid-template-rows: auto 1fr;
}

.column_header {
  font-family: var(--font-lunasima);
  font-weight: 700;
  font-size: 1.25rem;
}

@media screen and (max-width: 1920px) {
  .column_header {
    font-size: 0.75rem;
  }
}