.tooltip_container {
  display: inline-flex;
  align-items: center;
}

.tooltip {
  background-color: white;
  color: var(--color-primary);
  padding: 0.5rem 0.75rem;
  border-radius: var(--card-border-radius);
  font-size: 0.875rem;
  flex-wrap: wrap;
  z-index: 9999;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  pointer-events: none;
}

.tooltip::before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  top: -15%;
  left: 0;
  border-width: 0 0.6rem 0.6rem 0.6rem;
  border-color: transparent transparent white transparent;
}