.asset_card_container {
  padding: 1rem;
  height: auto;
  width: 100%;
  display: grid;
  gap: 1.25rem;
  cursor: pointer;
  grid-template-rows: 1fr auto auto;
  color: black;
  container-type: inline-size; /* Enable container queries */
}

.image_preview_container {
  height: 100%;
  width: 100%;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  pointer-events: none; /* stop the individual image enlarge clicks - go to asset details pg */
}

@media screen and (max-width: 1920px) {
  .asset_card_container {
    height: 100%;
    gap: 0.75rem;
  }
  .image_preview_container {
    height: 225px;
  }
  .asset_title {
    font-size: 4cqw;
  }
}

@media screen and (max-width: 500px) {
  .asset_card_container {
    padding: 0.25rem;
  }
}