.toggle_button_container {
  display: flex;
  gap: 0.5em;
  container-type: inline-size; /* Enable container queries */
}

.toggle_option {
  flex: 1; /* Make each button take up equal sapce */
  text-align: center;
  font-size: 5cqw; /* 5% of container width - scales with parent */
  padding: 0.75em 1em;
  border: 2px solid var(--color-primary);
  border-radius: var(--card-border-radius);
  cursor: pointer;
  text-decoration: none;
  color: var(--color-primary);
  transition: background-color 0.2s, border-color 0.2s;
}

.toggle_option:hover:not(.active) {
  box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.15);
}

.active {
  background-color: var(--color-primary);
  color: white;
}