.grid_template_setup {
  width: 100%;
  aspect-ratio: 16/9;
  gap: 0.25rem;
  background-color: #e0e2e6;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 1fr 1fr;
}

.image_container {
  position: relative;
  overflow: hidden;
  border-radius: var(--card-border-radius);
  cursor: pointer;
}

.image {
  transition: transform 0.3s ease;
}

.image:hover {
  transform: scale(1.02);
}