.feed_container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  grid-template-areas:
    "col-rejected col-pending col-approved";
}

.voter_pending_column {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 2.25rem;
}

@media screen and (max-width: 1920px) {
  .feed_container {
    gap: 0.75rem;
  }
  .voter_pending_column {
    gap: 1.25rem;
  }
}

@media screen and (max-width: 1500px) {
  .feed_container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "col-rejected col-pending"
      "col-approved col-pending";
  }
}

@media screen and (max-width: 1000px) {
  .feed_container {
    grid-template-columns: 1fr;
    grid-template-rows: 800px 400px 400px;
    grid-template-areas:
      "col-pending"
      "col-approved"
      "col-rejected";
    gap: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .feed_container {
    grid-template-rows: 600px 400px 400px;
  }
}
