.navbar_container {
  position: absolute;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.logo_wrapper {
  position: absolute;
  top: 25%;
  left: 1%;
  width: 5%;
  min-width: 36px;
}

.logo_image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.game_team_info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.game_name_link:hover {
  color: var(--color-secondary);
}

.team_info {
  font-size: 14px;
  font-family: var(--font-lunasima);
  cursor: pointer;
}

.team_info:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .logo_wrapper {
    top: 10%;
  }
}

@media screen and (max-width: 800px) {
  .logo_wrapper {
    position: relative;
  }
  .game_team_info {
    flex-direction: column;
    gap: 0;
  }
  .game_team_info h2 {
    font-size: 1rem;
  }

  .team_info {
    font-size: 10px;
  }
}