.carousel_arrow_button {
  border: none;
  background: none;
  padding: 0;
}

.carousel_arrow_button:hover {
  background: none;
  filter: unset;
}

.carousel_arrow_button:hover svg path {
  fill: var(--color-primary);
}

.carousel_arrow_button.active {
  visibility: visible;
}

.carousel_arrow_button.inactive {
  visibility: hidden;
}